.fade-enter-active, .fade-leave-active{

    transition : opacity  1s, transform 0.7s;

}

.fade-enter{
    opacity: 0;
    transform: translateY(800px);
}

.fade-leave-active{
    opacity: 0;
    transform: translateY(100px);
}